<ion-view view-title="gustos" class="degradado">
	<div class="bar bar-header">
	    <a class="button button-icon icon ion-ios-arrow-back" ng-click="myGoBack()"> Back</a>
	    <div class="h1 title letraMaven">Promociones</div>
	</div>
	<ion-content>
	<br><br><br>
		 <div class="item">
			 <h1 class="letraAilerons ">Lector QR</h1>
			 <p style="color: white" class="letraAilerons">Escanea el codigo QR</p>
		 </div>
		<div class="item">
			<button class="button degradadoButton letraAilerons" ng-click="leerCodigo()">Escanear</button>
		</div>
		<div class="item" >
			<p style="color: white" class="letraMaven">Después de consumir en uno de los <br> establecimientos que esta en THE CITY podrás <br>escanear el código QR para obtener más <br>teen points y después redimirlo en <br>una de las promociones que tenemos para ti </p>
		</div>
	
	</ion-content>

    


</ion-view>